services:
  app:
    build:
      context: ./app
    env_file:
      - ./app/.env
    volumes:
      - ./app/src:/app/src
    depends_on:
      - database
      - rabbitmq
    networks:
      - backend

  web-proxy:
    image: nginx:1.27-alpine
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./web-proxy/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: on-failure
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq
    networks:
      - backend

  database:
    image: postgres:16
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-ml_service}
      POSTGRES_USER: ${POSTGRES_USER:-ml_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-ml_password}
    volumes:
      - ./data/postgres/pgdata:/var/lib/postgresql/data
    networks:
      - backend

networks:
  backend:
    driver: bridge


